/* About Page Styles */

.about-page-wrapper{
  width: 100vw;
  height: 100vh;
  display:block;
  position:relative;
}

.about-page{
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #1565c0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-page .card .sidebar{
  background-color: #0d47a1;
  color: #fefefe;  
  text-align: left;  
  border-radius: 10px 10px 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  padding-left: 15px;
}

.about-page .sidebar > .avatar{
  width: 50%;
  margin-top: 15px;
  margin-left: 30px;
}

.about-page .sidebar h3{
  margin-top: 5px;
  margin-left: 30px;
}

.about-page .sidebar h4{
  margin-top: 10px;
  margin-left: 30px;
}

.about-page .content{
   background-color: #e3f2fd;
   border-radius: 0 10px 10px 0;
}

.about-content-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    position: relative;
}

.about-content-header h3{
  display: inline-block;
  margin: 0 0 0 15px;
  color: #0d47a1;  
}
.about-content-header .line{
  display: inline-block;
  background-color: #1565c0;
  width: 100px;
  height: 1px;
}

.about-content-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  position: relative;
  padding-left: 115px;
}

.about-content-content h4{
    color: #051937;
    margin-top: 25px;
}

.about-page-wrapper .next-logo-wrapper{
  position: absolute;
  right: 0;
  bottom: 0;
}

.about-page-wrapper .next-logo-chevron {
  fill: #212121;
  stroke: none;
}

.about-page-wrapper .next-logo-wrapper:hover #chevron,
.about-page-wrapper .next-about-logo-wrapper:hover #chevron
{
  stroke: #e3f2fd;
  fill: #e3f2fd;
}

.about-page-wrapper .next-logo-wrapper:hover #circle,
.about-page-wrapper .next-about-logo-wrapper:hover #circle
{
  stroke: #0d47a1;
  fill: #0d47a1;
}

@media(max-width:360px){
  .about-page-wrapper{
    width: 100vw;
    height: 300vh;
    display:block;
    position:relative;
  }

  .about-page{
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-page .card{
    width: 100vw;
    margin: 30px 30px 30px 30px;
    border-radius: 10px 10px 10px 10px;
  }

  .about-page .card .sidebar{
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 0;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
  }

  .about-page .sidebar > .avatar{
    margin-left: 0;
  }

  .about-page .sidebar h3{
    margin-left: 0;
  }

  .about-page .sidebar h4{
    margin-left: 0;
  }

  .sidebar-text-wrapper{
    margin-bottom: 15px;
  }

  .about-page .card .content{
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    padding-right: 0;
    padding-top: 0;
  }

  .about-content-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    margin-top: 15px;
    flex-shrink: 0;
  }

  .about-content-header h3{
    display: inline-block;
    color: #0d47a1;  
  }

  .about-content-header .line{
    display: inline-block;
    background-color: #1565c0;
    width: 30px;
    height: 1px;
  }

  .about-content-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
    flex-shrink: 0;
  }

  .about-content-content h4{
      color: #051937;
      margin-top: 15px;
  }

  .about-page-wrapper .next-logo-container{
    position: relative;
  }

  .content .next-logo-container{
      height: 100%;      
  }
  
  .content .next-logo-wrapper{
      margin-bottom: 15px;
  }

  .about-page-wrapper .next-logo-wrapper{
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    margin-right: 15px;
  }

  .about-page-wrapper .next-logo{
    margin-bottom: 0;
    margin-right: 0;
  }

  .about-page-wrapper .sidebar .next-logo-chevron {
    fill: #e3f2fd;
    stroke: none;
  }

  .about-page-wrapper .sidebar .next-logo-circle {
    fill: none;
    stroke: #e3f2fd;
  }

  .about-page-wrapper .sidebar .next-logo-wrapper:hover #chevron
  {
    stroke: #0d47a1;
    fill: #0d47a1;
  }

  .about-page-wrapper .sidebar .next-logo-wrapper:hover #circle
  {
    stroke: #e3f2fd;
    fill: #e3f2fd;
  }

  .about-page-wrapper .content .next-logo-chevron {
    fill: #0d47a1;
    stroke: none;
  }

  .about-page-wrapper .content .next-logo-circle {
    fill: none;
    stroke: #0d47a1;
  }

  .about-page-wrapper .sidebar .next-logo-wrapper:hover #chevron
  {
    stroke: #e3f2fd;
    fill: #e3f2fd;
  }

  .about-page-wrapper .sidebar .next-logo-wrapper:hover #circle
  {
    stroke: #0d47a1;
    fill: #0d47a1;
  }
}
