/* Projects Page Styles */

.projects-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #ff9100;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects-page .card{
  background-color: #e3f2fd;
}

.projects-page .content{
  background-color: #ffd180;
  border-radius: 10px 0 0 10px;
  padding-top:30px;
  color: #ff9800;
}

.projects-page .content h2{
  margin-left:30px;
}

.projects-page .content .projects-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  position: relative;
}

.projects-page .content .project{
  display:flex;
  flex-direction: column;
  color: #ffe0b2;
  align-items: center;
  justify-content: center;
  align-content: center;
  width:180px;
  height:180px;
  background-color:#ff9800;
  border-radius:5px; 
  margin-left:30px;
  margin-top: 30px;
}

.bar{
  background-color: #ffe0b2;
  height: 30px;
  width: 100%;
  border-radius: 0px 0 5px 5px;
  align-self: flex-end;
}

.projects-page .sidebar{
  align-items: flex-end;
  justify-content: flex-start;
  align-content: flex-end;
  background-color: #ff3d00;
  padding-top:30px;
  padding-right:30px;
  padding-left:30px;
  border-radius: 0 10px 10px 0;
  color: #ffd180;  
}

.projects-page .sidebar h3:hover{
  color: #ff9800;
}

.projects-page .sidebar ul{
  list-style-type: none;
  text-align:right;
}

.projects-page .sidebar ul li{
  cursor: pointer;
  margin-top: 5px;
}

.projects-page .sidebar ul li h3:hover{
  text-decoration: underline;
}


/* Commom Styles */
.card{
  display: flex;
  z-index: 1;
  width: 75%;
  height: 100%;
  box-shadow: 0 5px 9.5px 0.5px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.card .sidebar{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  flex-basis: 30%;
}

.card .content{
  padding-top: 30px;
  padding-right: 30px;
  flex-grow: 7;
  flex-basis: 70%;
}

@media(max-width:360px){
  .card{
    flex-direction: column;
  }

  .card .sidebar{
    display:block;
  }

  .card .content{
    display: block;
  }
}

.next-logo-wrapper{
  transition: opacity 6s cubic-bezier(.25,.8,.25,1);
  align-self: flex-end;
}

.next-logo {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 50px;
    margin-right:50px;
    cursor: pointer;
}

@media(max-width:360px){
  .next-logo {
      width: 40px;
      height: 40px;
  } 
}

.next-logo-circle {
  fill: none;
  stroke: #212121;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}