/* Cover Page Styles */
.cover-page{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f3e5f5;
}

.logo-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
}

.logo-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;    
}

.shadow{
    display: flex-inline;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 75%;
    height: 163px;
    width: auto;
    box-shadow: 0 1px 2px rgba(33,33,33,0.24);
    transition: box-shadow 2s cubic-bezier(.25,.8,.25,1),
    margin-left 2s cubic-bezier(.25,.8,.25,1), 
    height 2s cubic-bezier(.25,.8,.25,1),
    width 2s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover{
  box-shadow: 0 10px 10px rgba(33,33,33,0.22);
}

.first-element{
    height: 163px;
    width: auto;
    cursor: pointer;
    z-index: 1;
    transform: rotate(0deg);
    transition: 2s transform;
}

.first-element:hover{
  transform: rotate(360deg);
}

.second-element{
    display: flex-inline;
    height: 109px;
    width: auto;
    flex-shrink: 0;
    margin-left: 30px;
    visibility: invisible;
    opacity: 0;
    transition: opacity 1s cubic-bezier(.25,.8,.25,1);
}


.logo-subtitle{
  opacity: 0;
  visibility: invisible;
  transition: opacity 6s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  color: #5e459b;
}

.cover-page .next-logo-wrapper{
  opacity: 0;
  visibility: invisible;
  margin-left: -50px;
  margin-right: -50px;
}

.cover-page-wrapper .next-logo-wrapper{
  position: absolute;
  right: 0;
  bottom: 0;
}

.cover-page-wrapper .next-logo-chevron {
  fill: #212121;
  stroke: none;
}

.cover-page-wrapper .next-logo-wrapper:hover #chevron{
  stroke: #f3e5f5;
  fill: #f3e5f5;
}

.cover-page-wrapper .next-logo-wrapper:hover #circle{
 stroke: #5f449a;
  fill: #5f449a;
}

.cover-page .next-logo-chevron {
  fill: #212121;
  stroke: none;
}

@media (max-width: 480px){
    .shadow{
      margin-left: 60%;
    }

    .second-element{
      height: 55px;
      width: auto;
      margin-left: 5px;
    }
}

@media (max-width: 360px){
    .shadow{
      margin-left: 60%;
    }

    .second-element{
      height: 50px;
      width: auto;
      margin-left: 5px;
    }
}

@media (max-width: 320px){
    .shadow{
      margin-left: 60%;
    }

    .second-element{
      height: 40px;
      width: auto;
      margin-left: 5px;
    }
}

@media(min-width: 1440px){
  .shadow{
    height: 250px;
    width: auto;
  }
  .first-element{
    height: 250px;
    width: auto;
  }
  .second-element{
      height: 180px;
      width: auto;
      margin-left: 30px;
    }
  .logo-subtitle h2{
    font-size: 48px;
  }
}