@font-face {
    font-family: 'Slabo 13px';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/slabo-13px-v3-latin-regular.eot');
    /* IE9 Compat Modes */
    src:local('Slabo 13px'), local('Slabo13px-Regular'), url('./fonts/slabo-13px-v3-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/slabo-13px-v3-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/slabo-13px-v3-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/slabo-13px-v3-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/slabo-13px-v3-latin-regular.svg#Slabo13px') format('svg');
    /* Legacy iOS */
}
/* slabo-27px-regular - latin */
@font-face {
    font-family: 'Slabo 27px';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/slabo-27px-v3-latin-regular.eot');
    /* IE9 Compat Modes */
    src:local('Slabo 27px'), local('Slabo27px-Regular'), url('./fonts/slabo-27px-v3-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/slabo-27px-v3-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/slabo-27px-v3-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/slabo-27px-v3-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/slabo-27px-v3-latin-regular.svg#Slabo27px') format('svg');
    /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src:local('Open Sans'), local('OpenSans'), url('./fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/open-sans-v13-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/open-sans-v13-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/open-sans-v13-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

html {
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    transition: all 1s ease;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}

h2{
    font-family: 'Slabo 27px';
    font-size: 30px;
}

h3{
    font-family: 'Slabo 27px';
    font-size: 18px;
}

h4{
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
}